.work-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.work-experience-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.work-experience-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.work-experience-title {
    font: roboto sans-serif monospace;
    font-weight: 900;
    font-size: 6rem;
}

.work-experience-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thick;
    padding: 100px 0;
}




.work-experience-right::-webkit-scrollbar {
    display: auto;
}

.workplace-item {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    height: 50px;
    font-size: 1.5rem;
    color: #555;
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0 2vw;;
}

.workplace-item.active {
    font-weight: 900;
    color: #111;
    font-size: 2.5rem;
    transform: scale(1.1);
    z-index: 10;
    overflow: visible;
}

