.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    position: relative;
}

/* .header-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
} */

.header-right-container {
    display: flex;
    flex-direction: columm;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 15%;
    border-left: 1px solid black;
    margin-right: 5vw;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5vw;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header-title {
    font: roboto sans-serif monospace;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.underlined-text {
    text-decoration: underline;
}

.header-left p {
    font: roboto sans-serif monospace;
    font-size: 1.5rem;
}

.header-button {
    background-color: #fff;
    border: 1.5px solid #111;
    border-radius: 13px;
    padding: 0.85vh 0.85vw;
    font: roboto sans-serif monospace;
    transition: all 0.3s ease;
    cursor : pointer;
}

.header-button:hover {
    background: #f9f9f9;
    border-color: #bbb;
    transform: translateY(-2px) scale(1.02);
    box-shadow: 1px 1px 2px 2.5px rgba(0, 0, 0, 0.1);
}

.header-right-container a {
    text-decoration: none;
    font: roboto sans-serif monospace;
    font-weight: 700;
    color: #111;
    transition: all 0.3s ease;
}

.header-right-container a:hover {
    color: #bbb;
}