.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 4rem 0;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.project-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #111;
    border-radius: 12px;
    padding: 0.5rem;
    width: 100%;
    height: 300px;
    margin: 1rem;
    transition: all 0.3s ease;
}
.project-grid-item video {
    border-radius: 16px;
    width: 100%;
    height: auto;
    display: block;
    max-width: 300px;
    background: #111;
}

.project-grid-item:hover {
    transform: translateY(-2px);
}

.project-grid-item-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.project-video-wrapper {
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 16px;
    /* background: #111; */
}

.project-video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}