.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project-section-title {
    font: roboto sans-serif monospace;
    font-weight: 900;
    font-size: 6rem;
}